.ractive-dynamodb-ui {position: absolute;top:0px;left: 0px;right: 0px;bottom: 0px;font-family: sans-serif;}
.ractive-dynamodb-ui * {box-sizing: border-box }
.ractive-dynamodb-ui {
	.pull-right {float: right!important;}
	a {text-decoration: none;}

	.btn.disabled,
	.btn[disabled],
	fieldset[disabled] .btn {cursor: not-allowed;filter: alpha(opacity=65);box-shadow: none;opacity: .65;pointer-events: none;}

}
